<!DOCTYPE html>
<html>
  <head>
    <title>Flix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Flix Movie Reviews</h1>
    </header>
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      <p>Copy &copy; 2001-<%= Time.now.year %>
      <%= link_to("http://www.example.com") %></p>
    </footer>
  </body>
</html>
